<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Model1" connectionString="data source=10.137.203.94,1433\SQLEXPRESS;initial catalog=22.106-10-KadrovoeAgenstvo;user id=22.106-10;password=Passw0rd;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=10.137.203.94,1433\SQLEXPRESS;initial catalog=01.01-22.106-9-KadrovoeAgenstvo;user id=22.106-10;password=Passw0rd;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model12" connectionString="data source=10.137.203.94,1433\SQLEXPRESS;initial catalog=01.01-22.106-9-KadrovoeAgenstvo;user id=22.106-10;password=Passw0rd;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>